BasedOnStyle: Google
UseTab: Never
IndentWidth: 2
ColumnLimit: 80

# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left

# Reordering #include statements can (and currently will) introduce errors
SortIncludes: false

# Style choices
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
IndentPPDirectives: BeforeHash

IncludeCategories:
  - Regex:           '^<'
    Priority:        4
  - Regex:           '^"(llvm|llvm-c|clang|clang-c|mlir|mlir-c)/'
    Priority:        3
  - Regex:           '^"(qoda|\.\.)/'
    Priority:        2
  - Regex:           '.*'
    Priority:        1

AllowShortLoopsOnASingleLine: false
BinPackParameters: false              # Prevents packing parameters in declarations
BinPackArguments: false               # Prevents packing arguments in function calls
AlignAfterOpenBracket: AlwaysBreak    # Forces a break after the opening parenthesis
AlignOperands: Align                  # Aligns arguments vertically
PenaltyBreakBeforeFirstCallParameter: 1  # Encourages breaking before the first argument
PenaltyReturnTypeOnItsOwnLine: 100    # Keeps return type with function name
