# formatting
pre-commit==4.0.1

# build
regex 
cmake>=3.26
packaging>=24.2
setuptools-scm>=8
setuptools>=77.0.3,<80.0.0
wheel

# torch dependency
torch @ https://download.pytorch.org/whl/nightly/xpu/torch-2.8.0.dev20250627%2Bxpu-cp310-cp310-linux_x86_64.whl
pytorch-triton-xpu @ https://download.pytorch.org/whl/nightly/pytorch_triton_xpu-3.4.0%2Bgitae324eea-cp310-cp310-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl

# may need oneapi packages

# tests
pytest

# dependencies
matplotlib # in benchmark, introduced by triton
pandas # in benchmark, introduced by triton